.footer {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-self: flex-end;
}

.footer-relative {
    bottom: 0;
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: var(--main-color);
    border-top: 1px solid var(--accent-color);
    z-index: 2;
}