.footer {
    flex: 1;
    bottom: 0;
    position: relative;
}

.footer-relative {
    width: 100%;
    padding: 20px;
    background-color: var(--main-color);
    border-top: 1px solid var(--accent-color);
    z-index: 2;
}