.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.homepage-image {
    align-self: center;
    height: 248px;
    width: 300px;
    background-image: url(../logos/partout-logo.png);
    background-repeat: no-repeat;
}